@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
  background-color: #121313;
}

.main-menu, .main-menu a {
  color: rgba(255, 255, 255, 0.87);
}

.main-menu a:hover {
  color: #76ABAE;
}

.main-menu li {
  margin-right: 1em;
}

p, li, a, blockquote, figcaption, figcaption h4 {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Lato', Helvetica, sans-serif;
  transition: color 200ms;
}

a:hover {
  color: rgba(255, 255, 255, 0.67);
}

a:visited {
  color: rgba(255, 255, 255, 0.5);
}

p, li {
  font-size: 20px;
  margin: 10px 0;
  max-width: 750px;
}

table {
  table-layout: auto !important;
}

.list a {
  border-bottom: .11111em solid #ffcd00;
  color: #DCD7C9;
}

.list a:hover {
  color: #AAAAAA;
}

blockquote {
  border-left: .2em solid #ffcd00;
  margin-top: 27px;
}

figure {
  text-align: center;
}

figcaption, figcaption h4 {
  color: #888;
  font-size: 14px;
  margin-bottom: 16px;
  margin-top: -5px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, body,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 300;
}

hr {
  margin-top: 1.5em;
}

strong {
  font-weight: bold;
}

em {
  padding-right: 3px;
}

sup {
  display: inline-block;
  font-size: .65em;
  line-height: 1.3em;
  max-width: 500px;
}

sup:not(.inline)::before {
  content: "Note: ";
  font-size: 1.1em;
  font-variant: small-caps;
}

.main-menu a {
  opacity: 0.5;
}

.main-menu a.current {
  font-weight: 300;
  opacity: 1;
}

.site-title, .list-title, .list-title span {
  text-transform: none;
}

h1, .site-title {
  font-size: 2.3em;
}

h2, .list-title, .list-title {
  font-size: 1.5em;
}

.entry-content a {
  border-bottom: .11111em solid #ffcd00;
}

.site-description, .entry-genre {
  color: #888;
  font-size: 18px;
  font-style: normal;
}

.entry-genre {
  margin-bottom: 0;
}

.entry-subtitle {
  color: rgba(255, 255, 255, 0.67);
  font-size: 20px;
  font-style: normal;
}

.title, .title span, h1, h2 {
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Oswald', Arial, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.meta span {
  color: #888;
}

.meta span, .list-item-title {
  font-size: 1em;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}

.list-item .meta {
  margin-right: 6px;
}

.entry .meta span {
  color: #888;
  font-size: 14px;
  font-style: normal;
}

.copyright p {
  color: #888;
  font-size: 12px;
}

.comments-container #disqus_thread:before, .entry+.list-container:before, .entry-nav-links:before {
  border-bottom-color: #ffcd00;
}

code {
  background-color: #252d3e;
  border: 1px solid #CCC;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.87);
  display: inline-block;
  font-size: 16px;
  padding: 2px 5px;
}

pre {
  background-color: #252d3e;
}

div.highlight {
  border: 2px dashed rgba(255, 205, 0, 0.7);
  border-radius: 2px;
}

div.highlight code {
  background-color: transparent;
  border: none;
}

pre {
  background-color: initial;
  color: initial;
  margin: 0;
  padding: 6px 12px;
}

a.page-link {
  color: #CCC;
}

.page-link.current {
  color: #DCD7C9;
}

.subtle-link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8em;
  text-decoration: none;
}